*.pyc
*.pyo
*.so
*slurm*
.DS_Store
.*
!.gitignore
!.travis.yml
!.nojekyll
docs/_build/
docs/_template/
build/
*.sbatch
*.swp
*.log
dist/
dms_tools2.egg-info/
*(busy)
__*
_*.pdf
_*.png
dms_tools2/minimap2_prog
_temp.*
